#liena {
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
    color: rgb(16, 13, 13);
}

#Pizz {
    width: 300px;
}

#t-piz {
    width: 30%;
}

#lienado{
    text-align: center;
}

#porcion{
    width: 20%;
}

#img-piza{
    width: 300px;
}

#rocem {
    width: 450px;
}



div {
    margin: 0;
    padding: auto;
}
.Pizz1{
color: rgb(16, 13, 13);
text-align: center;
margin-top: 50px;
font-size: 50px;
}

.buton{
    text-align: right;
}

/* table {
    border: 1px solid;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #000;
} */