#liena {
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
    color: rgb(110, 154, 207);
}

#pizz{
    width: 300px;
    margin-left: 100px;
}

#img-pizz{
    width: 300px;
    margin-left: 100px;
}

#img-rufles{
    width: 550px;
    margin-left: 10px;
}

#img-torci{
    width: 400px;
    margin-left: 10px; 
}


div {
    margin: 0;
    padding: auto;
}

/* table {
    border: 1px solid;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #000;
} */

.DoPizz{
    color: rgb(110, 154, 207);
    margin-top: 50px;
    margin-left: 130px;
}

.Rufles{
    color: rgb(110, 154, 207);
    margin-top: 50px;
    margin-left: 130px;
}

.Tocxi{
    color: rgb(110, 154, 207);
    margin-top: 50px;
    margin-left: 130px; 
}